.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #f2f2f2; /* adapted */
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 340px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: #5c5c5c; /* neutral gray */
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #ffffff; /* selected */
  font-weight: 600;
  color: #202020;
}

.radio-inputs .radio .name:hover {
  transform: translateY(-1px);
}

@media (max-width: 768px) {
  .radio-inputs { width: 100%; }
}
